/*
 *  FEEDBACK BLOCK
 */
.cwt__feedback__container {
    max-width: 56.25rem;
    border: 1px solid #c5cad8;
    padding: 2.1875rem 2.8125rem 1.25rem;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    margin: 3.75rem auto 0;
    font-size: 1.125rem;
    position: relative;
}

.cwt__feedback__container__stars {
    position: absolute;
    bottom: 2.1875rem;
    right: 2.1875rem;
    color: #f2b828;
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .cwt__feedback__container__stars {
        position: static;
        display: block;
        width: 12.5rem;
        margin: 0 auto 1.25rem;
        text-align: center;
    }
}

.cwt__feedback__container:before {
    width: 0;
    height: 0;
    content: "";
    display: block;
    border: 20px solid;
    border-color: transparent transparent #c5cad8 transparent;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    right: 25%;
}

.cwt__feedback__container:after {
    width: 0;
    height: 0;
    content: "";
    display: block;
    border: 19px solid;
    border-color: transparent transparent #f2f5fa transparent;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    bottom: -18px;
    right: 25%;
}

.cwt__feedback__user {
    max-width: 31.25rem;
    text-align: center;
    position: relative;
    margin: 1.875rem auto 1.875rem;
}

.cwt__feedback__user__avatar {
    padding: 5px;
    background: #fff;
    width: 5.625rem;
    height: 5.625rem;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.cwt__feedback__user__avatar img {
    width: 5rem;
    height: 5rem;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    border: none;
}

.cwt__feedback__user__title {
    font-size: 1.125rem;
    padding-top: 1.0625rem;
    font-weight: bold;
}

.cwt__feedback__user__title span {
    font-weight: normal;
    font-style: italic;
    color: #5c6689;
}
