/*
 *  HEADER FIXED BLOCK
 */
.cwt__header-fixed {
    padding: 0.625rem 0 0;
    background: #fff;
    color: #fff;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
  
}

.cwt__header-fixed__container {
    padding: 0 7.5rem;
}

@media (max-width: 991px) {
    .cwt__header-fixed__container {
        padding: 0 1.875rem;
    }
}

.cwt__main-menu--dark .cwt__main-menu__link {
    color: #000000 !important;
    font-weight: 600 !important;
    margin-top: 28px !important;
}

.cwt__main-menu--dark .cwt__main-menu__link:after {
    background: rgba(255, 255, 255, 0.3);
}

.cwt__logo--small {
    width: 7.75rem;
    margin: .1875rem 0 0;
}
