/*
 *  PREVIEW BLOCK
 */
.cwt__preview {
    height: 100vh;
    background-color: #000000 ;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 3.125rem;
}

.cwt__preview__title {
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 5rem;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin: 3.125rem 0;
}


#myVideo{

 margin-top: 70px;
    margin-bottom: -30px;
    width: 100%;
    height: auto;

}


.heroherovid {

  
    margin-top: 20px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
      padding-bottom: 3.125rem;
    
   
}

}