/*
 *  PROMO BLOCK
 */
.cwt__promo {
    margin-top: -12.5rem;
    padding-bottom: 0;
    overflow: hidden;
    border-bottom: 100px solid #f2f5fa;
}

.cwt__promo__images {
    position: relative;
    z-index: 2;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    padding-top: 5.625rem;
}

.cwt__promo__images:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -6.25rem;
    left: 0;
    width: 100%;
    height: 6.25rem;
    -webkit-box-shadow: 0px 0px 50px rgba(4, 14, 54, 0.2);
            box-shadow: 0px 0px 50px rgba(4, 14, 54, 0.2);
    z-index: 11;
}

.cwt__promo__images__img {
    width: 38%;
    max-width: 34.375rem;
    margin-left: 0;
    -webkit-box-shadow: 0px 0px 90px rgba(4, 14, 54, 0.15);
            box-shadow: 0px 0px 90px rgba(4, 14, 54, 0.15);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    display: inline-block;
    position: relative;
}

.cwt__promo__images__img img {
    width: 100%;
}

.cwt__promo__images__img .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12.5rem;
    margin: -0.625rem 0 0 -5rem;
    opacity: 0;
    font-weight: 300;
}

.cwt__promo__images__img:hover {
    -webkit-transform: translate(0, 0px) !important;
        -ms-transform: translate(0, 0px) !important;
            transform: translate(0, 0px) !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
    -webkit-transition: all .4s !important;
    transition: all .4s !important;
    -webkit-box-shadow: 0px 0px 110px rgba(4, 14, 54, 0.25);
            box-shadow: 0px 0px 110px rgba(4, 14, 54, 0.25);
    z-index: 10 !important;
}

.cwt__promo__images__img:hover .btn {
    opacity: 1;
}

.cwt__promo__images__img--1 {
    position: absolute;
    z-index: 1;
    bottom: -30%;
    left: 0;
    -webkit-transform: translate(0, 300px);
        -ms-transform: translate(0, 300px);
            transform: translate(0, 300px);
}

.cwt__promo__images__img--1 .btn {
    top: 32%;
}

.cwt__promo__images__img--2 {
    position: absolute;
    z-index: 2;
    bottom: -15%;
    left: 16.66%;
    -webkit-transform: translate(0, 300px);
        -ms-transform: translate(0, 300px);
            transform: translate(0, 300px);
}

.cwt__promo__images__img--2 .btn {
    top: 42%;
}

.cwt__promo__images__img--3 {
    position: relative;
    z-index: 3;
    -webkit-transform: translate(0, 300px);
        -ms-transform: translate(0, 300px);
            transform: translate(0, 300px);
}

.cwt__promo__images__img--4 {
    position: absolute;
    z-index: 2;
    bottom: -15%;
    right: 16.66%;
    -webkit-transform: translate(0, 300px);
        -ms-transform: translate(0, 300px);
            transform: translate(0, 300px);
}

.cwt__promo__images__img--4 .btn {
    top: 42%;
}

.cwt__promo__images__img--5 {
    position: absolute;
    z-index: 1;
    bottom: -30%;
    right: 0;
    -webkit-transform: translate(0, 300px);
        -ms-transform: translate(0, 300px);
            transform: translate(0, 300px);
}

.cwt__promo__images__img--5 .btn {
    top: 32%;
}

.cwt__promo__images--showed .cwt__promo__images__img--3 {
    -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
            transform: translate(0, 10px);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}

.cwt__promo__images--showed .cwt__promo__images__img--1, .cwt__promo__images--showed .cwt__promo__images__img--5 {
    -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
            transform: translate(0, 10px);
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}

.cwt__promo__images--showed .cwt__promo__images__img--2, .cwt__promo__images--showed .cwt__promo__images__img--4 {
    -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
            transform: translate(0, 10px);
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
}
