/*
 *  SHOWCASE BLOCK
 */
.cwt__cube {
    height: 26.25rem;
    overflow: hidden;
    position: absolute;
    top: 6.75rem;
    left: 0;
    right: 0;
}

.cwt__cube__inner {
    margin-left: -1000px;
    margin-right: -1000px;
}

.cwt__cube__inner canvas {
    margin: 0 auto;
    display: block;
}

.cwt__showcase {
    position: relative;
}

.cwt__showcase__heading {
    max-width: 58.125rem;
    display: block;
    margin: 0 auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.125rem;
    letter-spacing: 2px;
    line-height: 1.3;
    font-weight: 900;
    position: relative;
    z-index: 1;
    min-height: 8.125rem;
}

@media (max-width: 991px) {
    .cwt__showcase__heading {
        min-height: 12.5rem;
    }
}

@media (max-width: 543px) {
    .cwt__showcase__heading {
        font-size: 2.25rem;
        min-height: 11.875rem;
    }
}

.cwt__showcase__description {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    text-align: center;
    font-weight: 300;
    position: relative;
    z-index: 1;
}

@media (max-width: 1199px) {
    .cwt__showcase__description br {
        display: none;
    }
}

.cwt__showcase__box {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cwt__showcase__box__gif {
    width: 100%;
}

.cwt__showcase__devices {
    height: 44.375rem;
    padding-top: 8.125rem;
    overflow: hidden;
    position: relative;
}

.cwt__showcase__devices:before {
    display: block;
    content: '';
    width: 6.875rem;
    height: 0.3125rem;
    position: absolute;
    top: 3.4375rem;
    left: 0;
    background: #090f25;
}

@media (max-width: 1199px) {
    .cwt__showcase__devices:before {
        left: 3.125rem;
    }
}

@media (max-width: 991px) {
    .cwt__showcase__devices {
        margin-left: -3.125rem;
        margin-right: -3.125rem;
    }
}

@media (max-width: 767px) {
    .cwt__showcase__devices {
        height: auto;
    }
}

.cwt__showcase__laptop {
    position: relative;
    margin-left: -3.75rem;
}

@media (max-width: 991px) {
    .cwt__showcase__laptop {
        margin-left: -31.25rem;
        margin-right: -31.25rem;
    }
}

.cwt__showcase__laptop__shadow {
    width: 41.25rem;
    height: 29.0625rem;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -20.625rem;
    z-index: 1;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    -webkit-box-shadow: 0px 0px 110px rgba(4, 14, 54, 0.3);
            box-shadow: 0px 0px 110px rgba(4, 14, 54, 0.3);
}

@media (max-width: 767px) {
    .cwt__showcase__laptop__shadow {
        display: none;
    }
}

.cwt__showcase__laptop__bg {
    background: url(../../../img/laptop.png) no-repeat center center;
    background-size: contain;
    width: 50.875rem;
    height: 29.1875rem;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -25.4375rem;
    z-index: 2;
    padding: 1.5625rem 6.25rem 3.1875rem;
}

@media (max-width: 767px) {
    .cwt__showcase__laptop__bg {
        margin: 0 auto;
        position: static;
    }
}

@media (max-width: 543px) {
    .cwt__showcase__laptop__bg {
        width: 31.25rem;
        height: 18.75rem;
        padding: 1.125rem 3.75rem 1.25rem;
    }
}

.cwt__showcase__mobile {
    background: #fff url(../../../img/mobile.png) no-repeat;
    background-size: contain;
    width: 13.1875rem;
    height: 27.75rem;
    position: absolute;
    left: 50%;
    margin: -3.125rem 0 0 14.375rem;
    top: 8.125rem;
    z-index: 3;
    padding: 3.9375rem 1rem 4.125rem 1.125rem;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    -webkit-box-shadow: 0px 0px 90px rgba(4, 14, 54, 0.2);
            box-shadow: 0px 0px 90px rgba(4, 14, 54, 0.2);
}

@media (max-width: 991px) {
    .cwt__showcase__mobile {
        display: none;
    }
}
